@charset "utf-8";



/*ローカルフォント読み込み
---------------------------------------------------------------------------*/
@font-face {
	font-family: "LogoTypeGothic";
	src: url("../LogoTypeGothic/ロゴたいぷゴシック.ttf");
	display: swap;
}


/*全体の設定
---------------------------------------------------------------------------*/
html {font-size: 62.5%;}

body {
	margin: 0px;
	padding: 0px;
	background-color: #f8e3df;
	color: #666;
	font-family: "Zen Kaku Gothic New", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳＰゴシック", "MS PGothic", sans-serif;	
	line-height: 2;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%
}
* {box-sizing: border-box;}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd, form, figure {margin: 0; padding: 0;}
ul {list-style-type: none}
img {max-width: 100% ; height: auto; border: none; vertical-align: middle}
table {border-collapse:collapse; border-spacing: 0}
iframe {width: 100%; border: none}
summary::-webkit-details-marker {display: none}


/*共通（全般）設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* カーソルの形 */
a, button, summary {cursor: url(../images/pointer.cur), auto}

a {color: #666; text-decoration: none; transition: 0.2s}
button {border: none; border-radius: 3px}

/* マウスホバー（文字色変化） */
.header--scroll .g-nav-xl__link:hover, a:hover {color: #e63d1b}

/* font-awesome表示 */
.g-nav-xl__link:hover::before, 
.font-awesome__icon::before {font-weight: bold; font-family: "Font Awesome 5 Free"}

/* font-awesomeのアイコン色 */
.g-nav-xl__link:hover::before, 
.contact__link-tel::before,
.calendar-box__toggle-icon {color: #db4d32}

.br {display: inline-block;}
/*メインコンテンツ
---------------------------------------------------------------------------*/
.main-contents h2 {
	font-weight: lighter; 
	font-family: "LogoTypeGothic", sans-serif;
	text-align: center;
}

.main-contents h2::before, .main-contents h2::after,
.product-wrap2:nth-child(3)::after, .product-wrap2:nth-child(4)::before {
	content: "";
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
}
.main-contents h2::before, .main-contents h2::after {width: 8rem;}

.pickup__title::before, .access__title::before {height: 100%; transform: translateX(-90%)}

.main-contents h3 {font-size: min(9vw, 2rem)}

.main-contents p, .main-contents table, .more {font-size: 1.5rem}

.title-unit {
	position: relative;
	z-index: 1;
	margin-bottom: 2%;
	color: #db4d32;	
	font-size: min(11vw, 4.8rem);
}

.product__title, .access__title {letter-spacing: 0.25em}

.more {
	display: block;
	width: 100%;
	max-width: 30rem;
	margin: 0 auto;
	padding: 0.3em 0;
	border-radius: 5px;
	background-color: #fff;
	text-align: center;
}
.more:hover {background-color: #db4d32; color: #fff;}


/*flexプロパティ
---------------------------------------------------------------------------*/

.flex-unit {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/*ヘッダー
---------------------------------------------------------------------------*/
.header {
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.65)),to(rgba(0,0,0,0)));
	background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);	
	transition: 0.5s;
}

.header .header-wrap {justify-content: space-around}

.header-logo__img {height: 8rem; transition: 0.5s}

.g-nav-xl__menu, .g-nav-md__menu {font-size: 1.5rem}
.g-nav-xl__list {display: inline-block; margin: 0 1em}

.g-nav__link {
	position: relative;
	color: #fff;
	letter-spacing: 0.1em;
}
.g-nav__link:hover::before {
	content: "\f1b0";
	position: absolute;
	margin-top: 0.2em;
	margin-left: -1.5em;
}

/* ヘッダー スクロール変化 */
.header--scroll {
	background: -webkit-gradient(linear, left top, left bottom, from(#fff6f5),to(#fff6f5));
	background: -o-linear-gradient(top, #fff6f5 0%,#fff6f5 100%);	
	background: linear-gradient(to bottom, #fff6f5 0%,#fff6f5 100%);
}

.header--scroll .header-logo__img {height: 6rem}

.header--scroll .header-logo {
	height: 5.5rem;
	margin: 0.5rem 0;
	border-radius: 5px;
	background-color: #f8e3df;
}

.header--scroll .g-nav-xl__link {color: #666}


/*画面幅768px以下のメニュー非表示*/
.g-nav-md {display: none}
.sub-header {display: none}


/*メイン（スライドショー）
---------------------------------------------------------------------------*/
.main {
	position: relative;
	width: 100%;
	height: 85vh;
	overflow: hidden;
}

.main__bg {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	background-attachment: fixed;
	width: inherit;
	height: inherit;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	animation: topSlide 24s ease infinite;
}

.main__bg:nth-of-type(1) {animation-delay: 0s}
.main__bg:nth-of-type(2) {animation-delay: 8s}
.main__bg:nth-of-type(3) {animation-delay: 16s}

@keyframes topSlide{
		0% {opacity: 0 }
	 16% {opacity: 1 }
	 33% {opacity: 1 }
	 49% {opacity: 0 }
	100% {opacity: 0 }
}


/*お知らせ、営業案内
---------------------------------------------------------------------------*/
.info {
	margin-bottom: 10rem;
	background: #fff6f5; 
	text-align: center;
}

.calendar-box__summary {
	display: block;
	position: relative;
	padding: 0.5rem;
	border-bottom: #f8e3df solid 1px;
	font-weight: bold;
	font-size: min(8vw, 1.6rem);
}

.calendar-box__toggle::after {content: "開く"; padding-left: 0.7em}

.calendar-box__toggle-icon::before{
	content: "\f271";
	padding-left: 1em;
	font-style: normal;
}

.calendar-box[open] .calendar-box__toggle::after {content: "閉じる"}
.calendar-box[open] .calendar-box__toggle-icon::before {content: "\f272"}

.calendar-area {width: 100%; margin: 0 auto}

.calendar-area__iframe {width: 100%; height: 52rem}


/*ピックアップ
---------------------------------------------------------------------------*/
.pickup {margin-bottom: 5rem}

.pickup__title::before {background: url(../images/index_pickup_h2.png)}

.pickup-wrap {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12%, 45rem));
	justify-content: center;
	align-content: center;
	gap: 3rem;
	padding: 0 2.5%;
}

.pickup-card {
	overflow: hidden; 
	border-radius: 5px;
	background: #fff; 
	text-decoration: none;
}

.pickup-card-img-box {overflow: hidden; text-align: center}

.pickup-card-img-box__img {width: 100%; transition: ease 1s}

.pickup-card-img-box__img:hover {transform: scale(1.2, 1.2)}

.pickup-card__text {
	position: relative;
	padding: 0.8em 0;
	text-align: center;
	transition: 0.2s;
}


/*商品紹介
---------------------------------------------------------------------------*/
.product {
	position: relative;
	z-index: 1;
	padding-bottom: 8rem;
	background: #fff6f5;
}

.product__inner {padding: 5rem 0}

.product__title::after {
	z-index: -1;
	height: 100%;
	background-image: url(../images/index_product_h2.png);
}

/* 共通設定 */
.product-unit {
	justify-content: space-around;
	margin: 0 auto;
	padding: 2rem; 
	border-radius: 5px;
	background-color: #f8ddd8;
	text-align: center;
}

.product-img-box__img {
	/* min-height: 30rem; */
	border-radius: 5px;
  object-fit: cover;
}

.product-content__subtitle {
	margin-bottom: 1rem;
	color: #555;
}
.product-content__subtitle::before {
	content: "\f1b0"; 
	margin-right: 0.5em;
	color: #fff6f5;
	font-size: 0.95em;
}

.product-content__text {margin-bottom: 2em}

/* シュークリームメニュー設定 */
.product-wrap1 {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12%, 44rem));
	width: 90%;
	max-width: 120rem;
	row-gap: 3rem;
}
.product-content1 {align-self: center}

/* display: flexの時 */
/* .product-wrap1 {width: 82%; max-width: 120rem}
.product-img-box__img1, .product-content1 {display: inline-block; flex-basis: 45rem}
.product-img-box__img1, .product-img-box__img2 {margin: 1.6rem 0} */

/* ケーキ、コーヒーメニュー設定 */
.product-wrap2 {
	width: 78%;
	max-width: 114rem;
	row-gap: 2rem;
	margin: 5rem auto;
	border-radius: 5px;
}

.product-wrap2:nth-child(3){flex-direction: row-reverse; position: relative}
.product-wrap2:nth-child(3)::after {
	content: "";
	position: absolute;
	top: 65%;
	left: -2rem;
	width: 2rem;
	height: 100%;
	background: url(../images/index_product_bg01.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.product-wrap2:nth-child(4) {position: relative; margin-bottom: 8rem}
.product-wrap2:nth-child(4)::before {
	content: "";
	position: absolute;
	top: -0.8rem;
	right: 8%;
	width: 4rem;
	height: 100%;
	background: url(../images/index_product_bg02.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.product-img-box2, .product-content2 {flex-basis: 38rem;}


/* スライドショー（ケーキ） */
.product-slideshow-box {position: relative; height: min(50vw, 28rem)}

.product-slideshow-box__img {
	opacity: 0;
	position: absolute;
	left: 0;
	animation: menuSlide 16s ease infinite;
	object-fit: cover;
}

.product-slideshow-box__img:nth-of-type(1) {animation-delay:  0s}
.product-slideshow-box__img:nth-of-type(2) {animation-delay:  4s}
.product-slideshow-box__img:nth-of-type(3) {animation-delay:  8s}
.product-slideshow-box__img:nth-of-type(4) {animation-delay: 12s}

@keyframes menuSlide {
		0% {opacity: 0}
		3% {opacity: 1}
	 25% {opacity: 1}
	 28% {opacity: 0}
	100% {opacity: 0}
}

/* デコレーションケーキ WEB予約バナー */
.banner {
	width: 95%;
	margin: 0 auto;
	text-align: center;
}

.banner__swing {
	display: inline-block;
	max-width: 75rem;
  transform-origin: center 30px 0;
	animation: swingBanner linear 2s infinite;
}

.banner__img {box-shadow: 0px 10px 8px -8px rgba(85, 85, 85, 0.6)}

@keyframes swingBanner {
		0% {transform: rotate(0deg);}
	 25% {transform: rotate(-1.1deg);}
	 50% {transform: rotate(0deg);}
	 75% {transform: rotate(1.1deg);}
	100% {transform: rotate(0deg);}
}


/*当店について
---------------------------------------------------------------------------*/
.about {
	position: relative;
	margin-bottom: 8rem;
	padding: 4rem 0;
	background-image: url("../images/index_about_bg.png");
	background-size: cover;
	background-attachment: fixed;
}

.about__title {
	margin-bottom: 3rem;
	color: #fff;
	font-size: min(12vw, 3rem);
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}

.about-content {padding: 0 2.5%; text-align: center}

.about-content__subtitle, .about-content__text {
	color: #fff;
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
}

.about-content__subtitle {margin-bottom: 1.4em; font-weight: normal;}
.about-content__text:nth-of-type(1) {margin-bottom: 1.2em; line-height: 2.4em}
.about-content__text:nth-of-type(2) {margin-bottom: 4rem}

.js-animation {
  opacity: 0;
  visibility: hidden;
  transform: translateY(40px);
  transition: all 1.4s;
}

.js-animation.is-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}


/*店舗案内
---------------------------------------------------------------------------*/
.access {margin-bottom: 8rem; font-size: 1.5rem}

.access__title::before {background-image: url(../images/index_access_h2.png)}

.access .more {margin-bottom: 3rem}

.access-wrap {
	gap: 5rem; 
	width: 82%; 
	max-width: 120rem;
	margin: 0 auto 4.5rem auto;
}


/* テーブル */
.access-table {margin-bottom: 3rem}

.access-table__caption {height: 8rem; text-align: center}

.access-table__tr {border-top: #d3acac dotted 0.8px; border-bottom: #d3acac dotted 0.8px}

.access-table__th {
	width: 10rem;
	padding: 0.4em 1em;
	text-align: left;
}

.access-table__logo {height: inherit}

.access-table__g-map-link {
	display: inline-block;
	font-weight: bold;
	margin: 0 0.5em;
	letter-spacing: 0.06em;
	text-decoration: underline;
	text-align: center;
}
.access-table__g-map-link:hover {text-decoration: none}

/* アクセスマップ */
.access-map1 {position: relative}
.access-map1__img {width: 38rem}

.access-map1__img, .access-map2__img {border-radius: 3px} 

#modal-1 {
	position: absolute;
	top: -9999px; 
	left: -9999px;
	visibility: hidden;
}
#modal-1.is-open {
	position: relative;
	top: 0; 
	left: 0;
	visibility: visible;
}

.modal__btn--open {
	position: absolute;
	right: 0.28rem;
	bottom: 0.28rem;
	padding: 0.3rem;
	background-color: #db4d32;
	border:  1.8px solid #fff;
	border-radius: 3px;
}

.modal__open-btn-icon {color: #fff; font-size: medium}

/* マップ拡大画像設定 */
.modal__overlay {
	display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  background-color: rgba(0,0,0,0.6);
}

.modal__btn--close {margin-bottom: 1rem}
.modal__btn--close:hover {background-color: #968c8c}

.modal__outer {width: 98%}

.modal__inner {
	max-width: 52rem;
	margin: 0 auto;
	padding: 2%;
	border-radius: 5px;
	background: #fff;
	text-align: right;
}

.access-map2  {font-size: 1.3rem; text-align: center}

.access-map2__caption {
	width: 87%;
	margin: 0 auto;
	padding-top: 1rem;
}


/*お問い合わせ
---------------------------------------------------------------------------*/
.contact {margin-bottom: 10rem}

.contact-wrap {
	width: 82%;
	max-width: 120rem;
	gap: 3rem;
	margin: 0 auto;
	padding: 1rem 3%;
	border-radius: 5px;
	background: #fff6f5a8;
	text-align: center;
}

.contact .more {margin-bottom: 0.5rem;}

.contact__text {margin-bottom: 0.5em}

.contact__link-tel {
	display: inline-block;
	margin-bottom: 0.4em;
	font-family: "LogoTypeGothic", sans-serif;
	font-weight: bold;
	font-size: min(11vw, 2.4rem);
	letter-spacing: 0.1em;
}
.contact__link-tel:hover {color: #666; opacity: 0.6}
.contact__link-tel::before {content: "\f095"; margin-right: 0.3em}

/*フッター
---------------------------------------------------------------------------*/
.footer {
	position: relative;
	z-index: 0;
	padding-top: 1.5rem;
	background-color: rgba(102, 102, 102, 0.47); 
	font-size: min(3.1vw, 1.4rem);
}
.footer-menu::after {
	content: "";
	position: absolute;
	z-index: 0;
	width: 11.2rem;
	height: 100%;
	transform: translate(50% ,-3rem);
	background-image: url(../images/index_footer_bg.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.footer-menu {column-gap: 1.5em; text-align: center}
.footer-menu__list {z-index: 1;}
.footer-menu__link, .sns-icon__link  {color: #fff}

.footer-menu__link:hover{opacity: 0.6; color: #fff}
.sns-icon__link:hover {color: unset}


/*facebook, instagramのアイコン*/
.sns-icon {margin: 1.2em auto; text-align: center}
.sns-icon__list {display: inline-block; margin: 0 0.8em}
.sne-icon__font {font-size: 2.6rem}


/*コピーライト*/
.copyright {
	background-color: rgba(102, 102, 102, 0.6); 
	color: #fff; 	
	text-align: center;
}





/*画面幅768px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media not all and (min-width: 48em){

	/* ヘッダー
	---------------------------------------------------------------------------*/
	.header {
		position: sticky;
		background: #fff6f5;
	}

	.header-logo {
		flex-grow: 0.5; 
		height: 5.5rem;
		margin: 0.5rem;
		border-radius: 5px;
		background-color: #f8e3df;
		text-align: center;
	}
		
	.header-logo__img {height: 6rem}
		
	.g-nav-md {
		display: flex;
		justify-content: right;
		flex-grow: 2;
		padding: 0 2rem;
		text-align: center;
	}
	.g-nav-md__menu {display: inline-block}
	.g-nav-md__list {
		display: inline-block;
		margin: 0 0.2em;
		font-size: 1.6rem;
		vertical-align: middle;
	}

	.g-nav-md__link {font-size: 2rem}
	.g-nav-md__icon {color: #db4d32}
		
	.g-nav-md__btn {
		vertical-align: middle; 
		margin: 0.6rem 1rem; 
		color: #000; 
		font-weight: bold;
	}
		
	.header--scroll .header-logo__img {height: 6rem;}
	.header--scroll .header-logo {height: 5.5rem; margin: 0.5rem;}
	.header--scroll .g-nav-xl__link {color: #fff}


	.g-nav-md__btn > span:last-of-type {display: none}
	#drawer[aria-expanded="true"] > span:first-of-type {display: none}
	#drawer[aria-expanded="true"] > span:last-of-type {display: inline-block}

	/*ドロワーメニュー非表示*/
	.js-drawer .g-nav-drawer {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: -9999px; 
		left: -9999px;
		visibility: hidden;
		background-color: rgba(0,0,0,0.8);
		text-align: center;
	}

	#drawer[aria-expanded="true"] + .g-nav-drawer {
		position: fixed;
		top: 6.5rem; 
		right: 0;
		left: 0;
		visibility: visible;
	}

	.g-nav-drawer__list {margin: 4rem 0; font-size: 1.5rem}

	/* サブヘッダーメニュー*/
	.sub-header {
		display: unset;
		position: absolute;
		z-index: 1;
		width: 100%;  
	}

	.sub-header__list {
		flex: 1;
		background-color: rgba(0, 0, 0, 0.2);
		font-size: 1.5rem;
		text-align: center;
	}
	.sub-header__link {color: #fff}

	/*画面幅768px以上のメニュー非表示*/
	.g-nav-xl {display: none}
}
	/*IE/iOS background-attachment: fixedプロパティの不具合回避 */
	.main__bg, .about {background-attachment: scroll}
